<div class="row">
    <div class="col-md-9">
        <table class="table ">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Ticker</th>
                <th scope="col">Last Price</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
                <tbody>
                <% @trakcer_stocks.each do |stock|%>
                    <tr>
                    <th ><%= stock.name%></th>
                    <th ><%= stock.ticker%></th>
                    <th ><%= stock.last_price%></th>
                    <th ><%= "Add palceholder"%></th>
                    </tr>
                <%end%>
                </tbody>
        </table>
    </div>
</div>