<% if @stock%>
<div class='card card-header'>
    <strong>Symbol: <%= @stock.ticker%></strong>
      <strong>Company Name: <%= @stock.name%></strong>
        <strong>Price: <%= @stock.last_price%></strong>
        <% if current_user.can_track_stock?(@stock.ticker)%>
          <%= link_to  "Add To PortFolio", user_stocks_path(user: current_user, ticker: @stock.ticker), class: "btn btn-xs btn-success", method: :post %>
        <%else%>
         <span>Already Stocks </span>
          <% if !current_user.under_track_stock?%>
            10 stocks
         <%end%>

        <%end%>
</div>
<%end%>